.title {
	text-align: left;
	margin-top: -2%;
	padding-top: 0;
	font-size: 20px;
}

#patientFile {
	display: flex;
	margin: 5% 2.5%;
	justify-content: space-between;
	flex-direction: column;
}

form {
	display: flex;
	padding: 3% 1.5% 3% 1.5%;
	border: 2px solid black;
	justify-content: space-between;
	flex-direction: column;
}

hr {
        display: block;
        border-width: 1px;
        margin-top: 2%;
        margin-bottom: 2%;
        size: 5px;
        width: 98%;
        align: center;
        color: #A6F6FF;
}

.patientIdentity {
	display: flex;
	justify-content: space-between;
	gap: 2px;
	flex-direction: row;
}

.patientGender {
	display: flex;
	flex-direction: row;
}

.genderInput {
	margin-left: -30%;
}

input[type="radio"] {
  margin-right: 0;
}

.nextOfKinIdentity {
	display: flex;
        justify-content: space-between;
        gap: 2px;
        flex-direction: row;
}
