.LoginForm{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.CenteredForm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

.home {
	align-self: flex-start;
	justify-content: flex-start;
	margin-left: 10%;
}